/node_modules
/public/hot
/public/vendor
/public/storage
/public/scss
/public/dist
/public/images
/storage/*.key
/storage/app
/storage/public
/public/uploads
/vendor
/public/uploads/codes
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
mix-manifest.json
/public/manifest.json